{% extends "thing/template.html" %}

{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		/*html { height: 100% }
		body { height: 100%; margin: 0; padding: 0 }
		#map_canvas { height: 100% } */
	</style>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcxrFehZmXPgl-lgScH8OZbW_aAhDSFcM&sensor=true">
	</script>
	<script type="text/javascript">
		var map;
		function handle_request(req)
		{
			// The response text is a list in the form of [{lat:float, long:float}*]
			var coords = eval(req.responseText);
			var pos;
			var min_lat = null, max_lat = null, min_lng = null, max_lng = null;

			// Place markers on the map.
			for(var i = 0; i < coords.length; i++)
			{
				pos = new google.maps.LatLng(coords[i].lat, coords[i].long);
				var marker = new google.maps.Marker({
														position: pos,
														map: map,
														title: 'Hello World!'
													});

				// Track the maximum and minimum latitudes and longitudes so
				// we can shift the map to the appropriate viewport.
				if(!min_lat || pos.lat() < min_lat) min_lat = pos.lat();
				if(!max_lat || pos.lat() > max_lat) max_lat = pos.lat();
				if(!min_lng || pos.lng() < min_lng) min_lng = pos.lng();
				if(!max_lng || pos.lng() > max_lng) max_lng = pos.lng();
			}

			var sw = new google.maps.LatLng(min_lat, min_lng);
			var ne = new google.maps.LatLng(max_lat, max_lng);
			var bounds = new google.maps.LatLngBounds(sw, ne);
			map.fitBounds(bounds);
		}

		function initialize() {
			var mapOptions = {
								center: new google.maps.LatLng(-34.397, 150.644),
								zoom: 8,
								mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

			request = new XMLHttpRequest();
			{% if t %}
				request.open("GET", "/thing/coords?id={{ t.pk }}", true);
			{% else %}
				request.open("GET", "/thing/coords", true);
			{% endif %}	
			request.onreadystatechange = function() {
				if(request.readyState != 4) return;
				if(request.status !=  200 && request.status != 304) return;
				handle_request(request);
			}
			request.send();
		}
    </script>
{% endblock head %}

{% block bodytag %}onload="initialize();"{% endblock bodytag %}

{% block content %}
	<h2 style="margin-top: 0px;">
		{% if t %}
			Thing {{ t.pk }}:
		{% else %}
			Things nearby:
		{% endif %}
	</h2>
	<div id="map_canvas" style="width:100%; height:30em;%;"></div>
{% endblock content %}
